<div class="app-home">
    <h1 class="motto">The Fastest Angular on the Web</h1>
    <div class="home-words">
        <p>
            Fast and secure sites and apps delivered by pre-rendering files and
            serving them directly from a CDN, removing the requirement to manage or
            run web servers.
        </p>
    </div>
</div>


<div _ngcontent-tsy-c9="" class="home-box" wfd-id="1">
    <div _ngcontent-tsy-c9="" class="home-card" wfd-id="5">
        <h1 _ngcontent-tsy-c9="" class="home-card-header">Fast</h1><img _ngcontent-tsy-c9=""
            src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585107167/cara-fuller-34OTzkN-nuc-unsplash_1_anhvwp.jpg"
            alt="running cheetah" class="home-card-image">
        <p _ngcontent-tsy-c9="" class="home-card-content"><b _ngcontent-tsy-c9="">Faster websites.</b> Optimize your
            site with prerendering and global delivery. </p>
    </div>
    <div _ngcontent-tsy-c9="" class="home-card" wfd-id="4">
        <h1 _ngcontent-tsy-c9="" class="home-card-header">Scaleable</h1><img _ngcontent-tsy-c9=""
            src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585259527/sutirta-budiman-Jgiv1rSIpVM-unsplash_1_wfdngg.jpg"
            alt="zebras in yellow grass" class="home-card-image">
        <p _ngcontent-tsy-c9="" class="home-card-content"><b _ngcontent-tsy-c9="">High scale without high
                complexity.</b> Optimize your site with prerendering and global delivery. </p>
    </div>
    <div _ngcontent-tsy-c9="" class="home-card" wfd-id="3">
        <h1 _ngcontent-tsy-c9="" class="home-card-header">Secure</h1><img _ngcontent-tsy-c9=""
            src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585258948/keith-markilie-jBjQA3LU9Dc-unsplash_1_qkkijr.jpg"
            alt="random rhino" class="home-card-image">
        <p _ngcontent-tsy-c9="" class="home-card-content"><b _ngcontent-tsy-c9="">More secure infrastructure.</b> By
            design, JAMstack architectures offer fewer points of attack. </p>
    </div>
    <div _ngcontent-tsy-c9="" class="home-card" wfd-id="2">
        <h1 _ngcontent-tsy-c9="" class="home-card-header">Productive</h1><img _ngcontent-tsy-c9=""
            src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1585259747/harshil-gudka-pU-9BYqjhyo-unsplash_1_bslipb.jpg"
            alt="two giraffes" class="home-card-image">
        <p _ngcontent-tsy-c9="" class="home-card-content"><b _ngcontent-tsy-c9="">Improved developer experience.</b>
            Launch faster with more productive dev &amp; deployment cycles </p>
    </div>
</div>